.footerContainer {
  .footer {
    .footerModule {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .module {
        .moduleTitle {
          margin-bottom: 8px;
        }

        .moduleContent {
          display: flex;
          justify-content: center;
          gap: 10px;
        }
      }
    }

    .footerSource {
      margin-top: 16px;

      .source {
        margin-right: 2px;
      }
    }
  }
}
